<div class="container">
  <div class="main-content">
    <mat-form-field appearance="fill">
      <mat-label>Légendaire de la bannière</mat-label>
      <input type="number" matInput [(ngModel)]="onBannerLegendary">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Légendaire scintillant</mat-label>
      <input type="number" matInput [(ngModel)]="shimmerLegendary">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Légendaire</mat-label>
      <input type="number" matInput [(ngModel)]="legendary">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Epique scintillant</mat-label>
      <input type="number" matInput [(ngModel)]="shimmerEpic">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Epique</mat-label>
      <input type="number" matInput [(ngModel)]="epic">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Rare scintillant</mat-label>
      <input type="number" matInput [(ngModel)]="shimmerRare">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Rare</mat-label>
      <input type="number" matInput [(ngModel)]="rare">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Poseidon</mat-label>
      <input type="number" matInput [(ngModel)]="poseidon">
    </mat-form-field>

    <div>
      <label>Résultat: </label>
      {{ summonPointSum() }}
    </div>
  </div>
  <div class="static-content">
    <table class="points-table" mat-table [dataSource]="tableData">
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <ng-container matColumnDef="label">
        <th mat-header-cell *matHeaderCellDef> Rareté </th>
        <td mat-cell *matCellDef="let element"> {{element.label}} </td>
      </ng-container>

      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> Valeurs en points </th>
        <td mat-cell *matCellDef="let element"> {{element.value}} </td>
      </ng-container>
    </table>
  </div>
</div>
